body {
  word-wrap: break-word;
  background: rgb(27, 126, 153);
  background: linear-gradient(155deg, rgba(27, 126, 153, 1) 5%, rgba(177, 174, 169, 0.8995973389355743) 50%, rgba(229, 191, 172, 1) 100%);
}

img {
  height: 200px;
}

.paint-canvas {
  border: 1px black solid;
  display: block;
}

.color-picker {
  margin: 1rem 1rem 0 1rem;
}

.well {
  display: none;
}

nav {
  height: 10vh;
}

textarea {
  margin-top: 2%;
  height: 60%;
  width: 100%;
}

.savedimages {
  overflow-x: auto;
}

.subsavedimages {
  background-color: rgba(240, 248, 255, .5);
}

.logo {
  height: 65px;
}

.canvas-direc {
  justify-content: center;
  align-items: center;
}

.saving-sec {
  height: 10%;
  flex-direction: column;
}

.direction-sec {
  display: flex;
  justify-content: center;
}

.login-container,
.signup-container,
.index-container {
  background-color: rgba(93, 56, 56, 0.5);
  width: 80vw;
  max-width: 37.5em;
  padding: 3em 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 25%;
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25)
}
.full-background{
  background-image: url(./wave.gif);
}